body{
  margin:0;
  font-family:Arial;
  background:var(--bg);
  color:var(--text);
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:20px;
  padding:40px;
}

.card{
  background:#141414;
  border-radius:18px;
  padding:15px;
  transition:.3s;
}

.card:hover{
  transform:translateY(-6px);
}

.phone{
  position:relative;
}

.phone img{
  width:100%;
}

.phone video{
  position:absolute;
  top:8%;
  left:7%;
  width:86%;
  height:84%;
  object-fit:cover;
  border-radius:20px;
}

button{
  padding:10px 16px;
  border:none;
  border-radius:10px;
  background:var(--primary);
  color:#000;
  font-weight:bold;
  cursor:pointer;
}